.checkout-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    background-color: lightgray;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.form-container {
    border-right: 1px solid lightgray;
}

.receipt-container {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-left: 34px;
}

.receipt-header {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.receipt-items {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-name {
    flex: 1;
}

.item-price {
    flex-basis: 60px;
    text-align: right;
}

.total {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.flex {
    display: inline-flex;
}

.header {
    text-align: center;
    color: maroon;
    font-size: 22px;
}