.header {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.pos-container {
    text-align: center;
    justify-content: center;
    display: flex;
}

.bookstore-logo {
    height: 88px;
    width: 212px;
    background-position: left center;
    background-image: url('../../../assets/book_logo.jpg');
}

.redwood-btn {
    background: maroon;
    border: white;
}