.card-container {
    display: flex;
    gap: 20px 30px;
}

.description {
    font-size: 10px;
    color: #03225C;
    height: 57px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 99%;
}

.navbar-brand {
    color: maroon;
}

.form-inline {
    margin-right: 154px;
}

h6 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.card-inner-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookstore-wizard {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.cover {
    margin: 0 auto;
}

.search {
    display: flex;
}

.nav-color {
    background-color: light-gray;
}

.search-btn {
    margin-left: 16px;
}

li {
    margin-right: 5px;
}
.bookstore-logo {
    height: 30px;
    width: 30px;
    background-position: left center;
    background-image: url('../../../assets/home.png');
    background-repeat: no;
}