<div class="container-fluid" *ngIf="!showCheckout">
    <h3 class="header">Redwood POS</h3>
<div class="row">
    <div class="container">
        <div class="container padding-bottom-3x mb-1">
            <!-- Shopping Cart-->
            <div class="table-responsive shopping-cart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Subtotal</th>
                            <th class="text-center">Bar Code</th>
                            <th class="text-center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let book of bookStoreResult">
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="#"><img [src]="book.volumeInfo.imageLinks.smallThumbnail" alt="Product"></a>
                                        <div class="product-info">
                                            <h4 class="product-title"><a href="#">{{book.volumeInfo.title}}</a></h4><span><em>Author:</em>{{book.volumeInfo.authors[0]}}</span><span class="desc"><em>description:</em> {{book.volumeInfo.description}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="count-input">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium">$43.90</td>
                                <td class="text-center text-lg text-medium"><div class="bar-code"></div></td>
                                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </ng-container>                      
                    </tbody>
                </table>
            </div>
            <div class="shopping-cart-footer">
              
                <div class="column text-lg">Subtotal: <span class="text-medium">$289.68</span></div>
            </div>
            <div class="shopping-cart-footer">
                <div class="column"><a class="btn btn-outline-secondary" href="/Home"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>
                <div class="column"><a class="btn btn-success" (click)="continueCheckout()">Checkout</a></div>
            </div>
        </div>
        
        <!-- end row -->
        
    </div>
</div>
</div>
<div *ngIf="showCheckout">
<app-checkout></app-checkout>
</div>
