<div class="container">
    <div class="header">Redwood BookStore Checkout</div>
    <div class="row">
        <div class="col-12 flex">
            <div class="col-6 form-container">
                <div class="checkout-container">
                    <form action="#" id="paymentForm">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="card">Credit Card:</label>
                            <input type="text" id="card" name="card" required>
                        </div>
                        <div class="form-group">
                            <label for="expiry">Expiry Date:</label>
                            <input type="text" id="expiry" name="expiry" placeholder="MM/YY" required>
                        </div>
                        <div class="form-group">
                            <label for="cvv">CVV:</label>
                            <input type="text" id="cvv" name="cvv" required>
                        </div>
                        <button type="submit" (click)="validateAndCompletePay()">Complete Payment</button>
                    </form>
                </div>
            </div>
            <div class="col-6" *ngIf="hideReceipt">
                <div class="receipt-container">
                    <div class="receipt-header">Redwood bookstore International Receipt</div>
                
                    <div class="receipt-items">
                        <div class="item">
                            <div class="item-name">
                                Floret Farm's A Year in Flowers
                            </div>
                            <div class="item-price">$43.90</div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Flowers
                            </div>
                            <div class="item-price">$43.90</div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Cool Flowers
                            </div>
                            <div class="item-price">$43.90</div>
                        </div>
                        <!-- Add more items as needed -->
                
                        <div class="total">Total: $289.00</div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>