<div class="container">
    <div class="col-12">
        <div class="header pos-container">
            <div class="bookstore-logo"></div>
        </div>
        <div class="header pos-container">Redwood International Bookstore </div>
        <div class="row pos-container">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="card-text">

                            Discover and select your favorite books from a diverse range of authors hailing from various
                            countries and languages.</p>
                        <a href="/Dashboard" class="btn btn-primary redwood-btn">Start Browsing</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Start POS</h5>
                        <p class="card-text">This is an employee login system where you can scan books and complete
                            payments using a point-of-sale (POS) system.</p>
                        <a href="/pos" class="btn btn-primary redwood-btn">Employee Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>